<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
 <template>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
   <style>
   :host {
     display: block;
     padding: 10px;
   }
   </style>
   <div class="container">
     <div class="row">

       <h1 class="col-lg-12">Gestor de cientes</h1>
       <button class="btn btn-success" on-click="obtenerClientes">Obtener clientes</button>
       <button class="btn btn-success" on-click="agregarClientes">Agregar</button>

     </div>
     <div class="row">
       <table class="table table-striped">
         <tbody>
           <template is="dom-repeat" items="{{clientes}}">
             <tr>
               <td>
                 [[item.CustomerID]]
               </td>
               <td>
                 [[item.ContactName]]
               </td>
               <td>
                 [[item.CompanyName]]
               </td>
             </tr>
           </template>
         </tbody>
       </table>
     </div>
   </div>
 </template>

 <script>
 /**
 * @customElement
 * @polymer
 */
 class GestorClientes extends Polymer.Element {
   static get is() { return 'gestor-clientes'; }
   static get properties() {
     return {
       clientes: {
         type: Array,
         notify: true
       }
     };
   }
   obtenerClientes() {
     var request = new XMLHttpRequest();
     request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
     request.setRequestHeader("Accept", "application/json");
     request.send();
     this.clientes = JSON.parse(request.responseText).value;
   }

   agregarClientes() {
     var request = new XMLHttpRequest();
     request.open("POST", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);

     request.setRequestHeader("Accept", "application/json");
     request.setRequestHeader("Contect-Type", "application/json");

     var nuevoCliente = {"CustomerId":"12345","ContactName":"Alan","CompanyName":"Scalla"};
     var body = JSON.stringfy(nuevoCliente);
     request.send(body);

     this.respuesta = request.responseText;
     console.log(this.respuesta);
   }
 } 

 window.customElements.define(GestorClientes.is, GestorClientes);
 </script>
</dom-module>
